{% extends "base.html" %}

{% block title %}Detalle del Paciente{% endblock %}

{% block content %}
<h2>Detalle del Paciente</h2>
<div class="paciente-detalle">
    <p><strong>Nombre:</strong> {{ paciente['nombre'] }}</p>
    <p><strong>Apellido Paterno:</strong> {{ paciente['apellido_paterno'] }}</p>
    <p><strong>Apellido Materno:</strong> {{ paciente['apellido_materno'] }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ paciente['fecha_nacimiento'] }}</p>
    <p><strong>Teléfono:</strong> {{ paciente['telefono'] }}</p>
    <p><strong>Correo:</strong> {{ paciente['correo'] }}</p>
    <p><strong>Ciudad:</strong> {{ paciente['ciudad'] }}</p>
    <p><strong>Estatus:</strong> {{ paciente['status'] }}</p>
    <p><strong>Último Pago:</strong> {{ ultimo_pago['fecha_pago'] if ultimo_pago else 'No registrado' }}</p>
</div>
<a href="{{ url_for('pacientes.editar_paciente', id=paciente['id']) }}" class="action-button">Editar Paciente</a>
<a href="{{ url_for('historial_clinico.ver_crear_historial', paciente_id=paciente['id']) }}" class="action-button">Ver/Editar Historial Clínico</a>
<a href="{{ url_for('valoracion.nueva_valoracion', paciente_id=paciente['id']) }}" class="action-button">Nueva Valoración Antropométrica</a>

<h3>Registrar Pago</h3>
<form action="{{ url_for('pacientes.registrar_pago_paciente', id=paciente['id']) }}" method="POST">
    <div class="form-group">
        <label for="fecha_pago" class="form-label">Fecha de Pago:</label>
        <input type="date" id="fecha_pago" name="fecha_pago" class="form-input" required>
    </div>
    <button type="submit" class="form-button">Registrar Pago</button>
</form>
{% endblock %}

